/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* Global Css */
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

/* Header Section */
header {
  padding: 20px 250px;
  background-color: #fff;
}
header img {
  width: 22%;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: rgb(6, 61, 9);
  font-size: 16px;
  letter-spacing: -0.8px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
}
.navbar-nav .nav-item .home {
  position: relative;
}
.navbar-nav .nav-item .home::before {
  transition: all 0.5s;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(10, 133, 65, 0.9);
  content: "";
  height: 5px;
}

.navbar-nav .nav-item .service {
  position: relative;
}

.navbar-nav .nav-item .service::after {
  transition: all 0.5s;
  position: absolute;
  bottom: -10px;
  left: 50%;
  right: 50%;
  margin: auto;
  background: rgba(10, 133, 65, 0.9);
  content: "";
  height: 5px;
}

.navbar-nav .nav-item .service:hover::after {
  left: 0%;
  right: 0%;
  background: rgba(10, 133, 65, 0.9);
}
.navbar-nav .nav-item .photos {
  position: relative;
}

.navbar-nav .nav-item .photos::after {
  transition: all 0.5s;
  position: absolute;
  bottom: -10px;
  left: 50%;
  right: 50%;
  margin: auto;
  background: rgba(10, 133, 65, 0.9);
  content: "";
  height: 5px;
}

.navbar-nav .nav-item .photos:hover::after {
  left: 0%;
  right: 0%;
  background: rgba(10, 133, 65, 0.9);
}
.navbar-nav .nav-item .data {
  position: relative;
}

.navbar-nav .nav-item .data::after {
  transition: all 0.5s;
  position: absolute;
  bottom: -10px;
  left: 50%;
  right: 50%;
  margin: auto;
  background: rgba(10, 133, 65, 0.9);
  content: "";
  height: 5px;
}

.navbar-nav .nav-item .data:hover::after {
  left: 0%;
  right: 0%;
  background: rgba(10, 133, 65, 0.9);
}
.navbar-nav .nav-item .contact {
  position: relative;
}

.navbar-nav .nav-item .contact::after {
  transition: all 0.5s;
  position: absolute;
  bottom: -10px;
  left: 50%;
  right: 50%;
  margin: auto;
  background: rgba(10, 133, 65, 0.9);
  content: "";
  height: 5px;
}

.navbar-nav .nav-item .contact:hover::after {
  left: 0%;
  right: 0%;
  background: rgba(10, 133, 65, 0.9);
}

.banner-section {
  /* background: url(../images/banner.jpg) no-repeat center top;
  background-size: cover; */
  position: relative;
  /* padding: 425px 0; */
  z-index: +1;
}
/* .banner-section::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(32, 32, 32, 0.575);
  z-index: -1;
} */
.carousel-item {
  height: 90vh;
}
.banner-section .banner-text {
  position: absolute;
  top: 150px;
  left: 900px;
}
.banner-section .banner-text h1 {
  font-size: 100px;
  display: block;
  color: #fff;
  -webkit-text-stroke-width: 4px;
}
.banner-section .banner-text h4 {
  display: block;
  color: #fff;
  font-size: 26px;
  margin-left: 115px;
  margin-top: 20px;
}

/* .banner-section h1 {
  font-size: 100px;
  display: block;
  margin-left: 520px;
  margin-top: -230px;
  color: #fff;
  -webkit-text-stroke-width: 4px;
}
.banner-section h4 {
  display: block;
  margin-right: 95px;
  color: #fff;
  font-size: 26px;
  margin-top: 25px;
  margin-left: 625px;
}
.banner-section i {
  position: absolute;
  display: block;
  margin-left: 635px;
  margin-top: 400px;
  font-size: 30px;
  color: #fff;
}
.banner-section i:hover {
  color: #c7d5d5;
} */
.service-section {
  background-color: azure;
}
.service-section h2 {
  text-align: center;
  color: rgb(6, 61, 9);
  letter-spacing: -0.8px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
  margin-top: 70px;
  position: relative;
}

.service-section .service {
  margin-top: 20px;
  padding: 50px 0px;
  color: rgb(6, 61, 9);
}
.service-section .service1 {
  margin-top: 20px;
  padding: 50px 0px;
  color: rgb(6, 61, 9);
}
.service-section .services {
  margin-top: 20px;
  background-color: azure;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.service-section .services i {
  padding: 10px 10px;
  color: rgb(88, 5, 5);
}
.service-section .services .service {
  display: block;
}
.service-section .services ul li {
  cursor: pointer;
  font-size: 22px;
}
.service-section .services .service-box {
  display: block;
}
/* Gallery Heading Part Start */
.gallery-heading-part {
  text-align: center;
  background-color: azure;
  padding: 50px 0 25px 0px;
  color: blue;
}

.gallery-part button {
  background-color: transparent;
  width: 210px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border: 2px solid rgba(10, 133, 65, 0.9);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  z-index: +1;
}
.gallery-part button::before {
  position: absolute;
  content: "";
  background-color: rgba(10, 133, 65, 0.9);
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  opacity: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.gallery-part button:hover::before {
  left: 0%;
  opacity: 1;
  border: 2px solid rgba(10, 133, 65, 0.9);
  z-index: -1;
}
.gallery-part button:hover {
  color: #fff;
  z-index: +1;
}

/* Gallery Heading Part End */

/* Gallery Part Start */
.gallery-part {
  background: url(../images/gallery-banner.jpg) no-repeat center;
  background-size: cover;
  padding: 50px 0;
  position: relative;
}
.gallery-part::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(22, 23, 24, 0.7);
}
.g-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 25px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  z-index: +1;
}
.g-img {
  width: 100%;
}
.g-hover {
  position: absolute;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  text-align: center;
  background-color: rgba(44, 172, 247, 0);
  text-align: center;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.g-hover ul li {
  display: inline;
  margin: 0 5px;
}
.g-hover ul {
  margin-top: 30%;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.g-hover ul li a i {
  color: #fff;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-align: center;
  line-height: 45px;
}
.g-hover ul li a i:hover {
  background: #fff;
  color: rgba(10, 133, 65, 0.9);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.g-item:hover .g-hover {
  background-color: rgba(38, 43, 39, 0.7);
  left: 0;
}
.g-item:hover .g-hover ul {
  opacity: 1;
}
/* Gallery Part End */

.video-part {
  background: url(../images/video-banner.jpg) no-repeat center top;
  background-size: cover;
  padding: 35px 0;
  position: relative;
}
.video-part::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.445);
}

.video-part video {
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  padding: 0 50px;
}

.module-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.card img {
  width: 45%;
  margin: 0 auto;
  margin-top: 10px;
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.module-container .col-lg-4 {
  padding-left: 50px;
  padding-right: 50px;
}
.module-container .card {
  border: 1px solid #14bd9a;
  border-radius: 10px;
  overflow: hidden;
  max-width: 360px;
}

.module-container .card .popup {
  display: flex;
  align-items: end;
}

.circle {
  border: 1px solid #14bd9a;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  background: #14bd9a;
}
.circle:hover {
  background: #14bd9a;
}
.circle:active {
  background: #14bd9a;
}
.circle:after {
  content: "+";
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}
.modal-header {
  padding: 0;
  display: flex;
  height: 396px;
  background-color: #d1b0d3;
}
.modal-header img {
  max-width: 396px;
  height: 396px;
}
.modal-header .bio {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.modal-header .bio .desc {
  width: 95%;
  justify-content: center;
}
.modal-header .bio button {
  align-self: start;
  margin: -15px;
}
.modal-dialog {
  max-width: 925px;
  border-radius: 0;
}
.modal-content {
  border-radius: 0;
}

.card h5 {
  text-align: center;
  font-size: 15px;
}
.last-card {
  margin-left: 145px;
}
.card h6 {
  text-align: center;
  font-size: 12px;
}
.employee {
  text-align: center;
}
.card {
  background-color: azure;
  margin-bottom: 20px;
  border-radius: 4%;
  border-color: rgb(220, 239, 219);
}
.card:hover {
  border-bottom: 1px solid rgb(0, 255, 38);
  border-right: 1px solid rgb(0, 255, 38);
  border-left: 1px solid rgb(0, 255, 38);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.card-section {
  background-color: azure;
  position: relative;
}
.card-section::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 808px;
  background-color: #16b831;
  left: 50%;
  bottom: 3%;
}
.card-body p {
  font-size: 12px;
  text-align: center;
  display: grid;
}
.card-section h3 {
  font-size: 20px;
  width: 65%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
/* 01 */
h3.title01 {
  position: relative;
  text-align: center;
  color: #16b831;
  font-weight: normal;
  line-height: 1.8em;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 2px solid #16b831;
  background-color: azure;
}
h2.title01 {
  position: relative;
  text-align: center;
  color: green;
  font-weight: normal;
  line-height: 1.8em;
  width: 190px;
  padding: 0;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 5px solid red;
  background-color: azure;
  margin: 23px auto -20px;
}
h2.title02 {
  margin: 50px auto 0;
  position: relative;
  text-align: center;
  color: green;
  font-weight: normal;
  line-height: 1.8em;
  width: 305px;
  padding: 0;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 5px solid red;
  background-color: azure;
}
h2.title03 {
  margin: 25px auto 25px;
  position: relative;
  text-align: center;
  color: green;
  font-weight: normal;
  line-height: 1.8em;
  width: 305px;
  padding: 0;
  font-weight: bold;
  border: 1px solid #ccc;

  border-bottom: 5px solid red;
  background-color: azure;
}
h2.title04 {
  margin: 25px auto 25px;
  position: relative;
  text-align: center;
  color: green;
  font-weight: normal;
  line-height: 1.8em;
  width: 305px;
  padding: 0;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 5px solid red;
  background-color: azure;
}
h6.title02 {
  position: relative;
  text-align: center;
  color: #16b831;
  font-weight: normal;
  line-height: 40px;
  width: 230px;
  margin-left: 0px;
  padding: 0px 0;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 2px solid #16b831;
  background-color: transparent;
}
.contact-left {
  background-color: #14141444;
  height: 400px;
}
.text-box {
  background-color: #fff;
  margin: 53px 0 0 90px;
  width: 353px;
  height: 300px;
  position: absolute;
}

.middle h3 {
  text-align: center;
  color: rgb(6, 61, 9);
  letter-spacing: -0.8px;
  font-weight: 600;
  margin-top: 7px;
  margin-left: 40px;
  font-size: 30px;
}
.contact-left .text-box h6 {
  margin-left: 60px;
  margin-top: 65px;
  background-color: #0a6e1b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  padding: 5px 5px;
  color: #fff;
}
.contact-left .text-box p {
  margin-left: -100px;
  text-align: center;
  line-height: 10px;
  margin-top: 10px;
}

.right-box h6 {
  margin-left: 100px;
  margin-top: 65px;
  background-color: #0a6e1b;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 5px;
  color: #fff;
}
.right-box p {
  text-align: center;
  line-height: 10px;
  margin-top: 10px;
}
.contact-right {
  background-color: #b1d9d59e;
  height: 400px;
}
.contact-right .right-box {
  background-color: #fff;
  margin: 53px 0 0 -12px;
  width: 353px;
  height: 300px;
  position: absolute;
}

.contact-part {
  margin-top: 60px;
  position: relative;
}
.contact-part::after {
  position: absolute;
  content: "";
  background: url(../images/contact-logo.png) no-repeat center top;
  width: 14%;
  height: 100%;
  left: 44%;
  top: 3%;
  opacity: 0.2;
}
.contact-part .contact-right span {
  display: block;
  line-height: 35px;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}
.site-footer hr {
  border-top-color: #bbb;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 10px 0 0 0;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.office {
  text-align: center;
}
.office h5 {
  justify-content: center;
  background-color: #0a6e1b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  padding: 5px 5px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 60.8%;
  font-size: 26px;
}
.office h6 {
  justify-content: center;
  background-color: #0a6e1b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  padding: 5px 5px;
  color: #fff;
  text-align: center;
  margin-top: 74px;
}
.office p {
  margin-left: -100px;
  text-align: center;
  line-height: 10px;
  margin-top: 10px;
  margin-left: auto;
}
.office1 h6 {
  justify-content: center;
  background-color: #0a6e1b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-block;
  padding: 5px 5px;
  color: #fff;
  text-align: center;
  margin-top: 71px;
}
.office1 p {
  margin-left: -100px;
  text-align: left;
  line-height: 10px;
  margin-top: 10px;
  margin-left: auto;
}
.phone-number {
  line-height: 38px;
}
.phone-number span {
  display: block;
}
.phone-number p {
  line-height: 38px;
}
.fa-phone {
  font-weight: 900;
  margin-right: 25px;
  position: relative;
  z-index: +9999;
}

.fa-phone::after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0a6e1b;
  left: -8px;
  z-index: -1;
  top: -8px;
}
.fa-envelope {
  font-weight: 900;
  margin-right: 25px;
  position: relative;
  z-index: +9999;
}
.fa-envelope::after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0a6e1b;
  left: -8px;
  z-index: -1;
  top: -8px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .carousel {
    height: 30vh;
  }
  h2.title02 {
    width: 195px;
  }
  h2.title04 {
    width: 170px;
  }
  h2.title03 {
    width: 190px;
  }
  .carousel-inner {
    height: 30vh;
  }
  .carousel-item {
    height: 30vh;
  }
  header {
    padding: 0px 0px;
    background-color: #fff;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flow-root;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-toggler {
    margin-left: 43%;
  }
  .navbar-nav .nav-item .contact::after {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  .navbar-nav .nav-item .data::after {
    background: transparent;
    content: "";
    height: 0px;
  }
  .navbar-nav .nav-item .photos::after {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  .navbar-nav .nav-item .service::after {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  header img {
    width: 28%;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 35px;
    text-align: right;
  }
  .service-section h2 {
    padding: 0;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
  }

  .w-100 {
    height: 30vh;
  }
  .office1 p {
    text-align: center;
  }

  .banner-section .banner-text h4 {
    display: block;
    color: yellow;
    font-size: 11px;
    margin-left: 0px;
    margin-top: 20px;
  }
  .banner-section .banner-text h1 {
    font-size: 34px;
    display: block;
    color: #fff;
    -webkit-text-stroke-width: 1px;
  }
  .last-card {
    margin-left: 0px;
  }
  .banner-section .banner-text {
    position: absolute;
    top: 70px;
    left: 50px;
  }
  .service-section .services {
    margin-top: 0;
    background-color: azure;
    display: contents;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0px;
  }
  .service-section .service {
    margin-top: 20px;
    padding: 0;
  }
  .service-section .services .service {
    display: block;
    width: 100vw;
    text-align: center;
  }
  .service-section .services i {
    padding: 7px;
    color: rgb(141, 7, 7);
  }
  .service-section .services ul li {
    cursor: pointer;
    padding: 5px 0;
    text-align: left;
  }
  .service-section .services .service-box {
    display: block;
    margin-left: 80px;
  }
  .service-section .service1 {
    margin-top: 0px;
    padding: 0px 0px;
    color: rgb(6, 61, 9);
    text-align: center;
  }
  .service-section .service1 .service-box {
    margin-top: -15px;
  }
  .gallery-part {
    background: url(../images/gallery-banner.jpg) no-repeat center;
    background-size: cover;
    padding: 0 0 45px 0;
    position: relative;
    height: 50%;
  }
  .video-part {
    background: none;
  }
  .video-part::before {
    display: none;
  }
  .gallery-part button {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: -30px;
  }
  .video-part video {
    padding: 0 0px;
    width: 95vw;
  }
  .video-part {
    padding: 10px 0;
  }
  .gallery-heading-part {
    text-align: center;
    background-color: azure;
    padding: 20px 0;
  }
  h3.title01 {
    padding: 0;
  }
  .card {
    background-color: azure;
    border-radius: 4%;
    width: 45vw;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .card-section::after {
    display: none;
  }
  h3.title01 {
    font-size: 16px;
  }
  .phone-number {
    line-height: 30px;
    margin-top: 360px;
    position: absolute;
    margin-left: 100px;
  }
  .office h5 {
    left: 30%;
    font-size: 18px;
  }
  .office h6 {
    margin-top: 60px;
    font-size: 14px;
  }
  .office1 h6 {
    font-size: 14px;
    margin-top: 0;
    margin-left: 32%;
  }
  hr {
    margin: 0px;
  }
  .fa-phone {
    font-size: 10px;
  }
  .fa-phone::after {
    height: 20px;
    width: 20px;
    left: -5px;
    top: -5px;
  }
  .fa-phone {
    margin-right: 8px;
  }
  .fa-envelope:before {
    content: "\f0e0";
    font-size: 10px;
  }
  .fa-envelope::after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0a6e1b;
    left: -5px;
    z-index: -1;
    top: -1px;
  }
  .fa-envelope {
    margin-right: 10px;
  }
  .site-footer h1,
  p {
    text-align: center;
  }
  .copyright-text {
    margin: 15px 0 0 0;
  }
  .g-item {
    width: 70vw;
    margin: 20px auto 0;
  }
  .navbar-nav .nav-item .photos::after {
    position: relative;
    height: 0px;
  }
  .navbar-nav .nav-item .home::before {
    position: relative;
    height: 0px;
  }
  .sticky-top {
    position: -webkit-sticky;
    position: relative;
    top: 0;
    z-index: 1020;
  }
}

@media (min-width: 1080px) and (max-width: 1710px) {
  .banner-section .banner-text {
    left: 640px !important;
  }
  .width25 {
    width: 530px;
  }
}
@media (min-width: 992px) and (max-width: 1440px) {
  .banner-section .banner-text {
    left: 640px !important;
  }
  .width25 {
    width: 530px;
  }
  .banner-section .banner-text h1 {
    font-size: 70px;
  }
  .banner-section .banner-text {
    left: 410px !important;
  }
  .banner-section .banner-text h4 {
    margin-left: 0;
  }
  .carousel-inner {
    height: 58vh;
  }
  .video-part video {
    padding: 0;
    margin-left: -150px;
  }
  .office1 h6 {
    margin-left: 25px;
  }
  .service-section h2 {
    padding: 0;
  }

  header img {
    width: 100px;
    margin-right: 40px;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 0px;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flow-root;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-toggler {
    margin-left: 300px;
  }
  .video-part video {
    width: 500px;
  }
  .last-card {
    margin-left: 0;
  }
  .card-section::after {
    position: relative;
    content: "";
    width: 0px;
    height: 0px;
  }
  .banner-section {
    height: 36vh;
  }
  .carousel-item {
    height: 36vh;
  }
  .service-section h2 {
    margin-top: 30px;
    font-size: 16px;
  }

  .service-section .services .service {
    display: block;
    width: 100vw;
    text-align: center;
  }
  .service-section .service1 {
    margin-top: 0px;
    padding: 0px 0px;
    color: rgb(6, 61, 9);
    text-align: center;
    margin: 0 auto;
  }
  .service-section .service1 .service-box {
    margin-top: -15px;
  }
  .service-section .services {
    margin-top: 0;
    background-color: azure;
    display: contents;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0px;
  }

  .service-section .services ul li {
    cursor: pointer;
    padding: 5px 0;
  }
  .service-section .service {
    margin-top: 20px;
    padding: 0;
    color: rgb(6, 61, 9);
  }
  .gallery-heading-part {
    padding: 0;
  }

  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
  }
  .site-footer h1,
  p {
    text-align: center;
  }
  .site-footer h1,
  p {
    text-align: center;
  }
  .office h5 {
    left: 34%;
    font-size: 18px;
  }
  .office1 h6 {
    font-size: 14px;
    margin-top: 0;
    margin-left: 36%;
  }
  .office1 p {
    margin-left: -100px;
    text-align: center;
    line-height: 10px;
    margin-top: 10px;
    margin-left: auto;
  }
  .fa-phone {
    margin-right: 10px;
  }
  .fa-envelope {
    margin-right: 10px;
  }
  .copyright-text {
    margin: 15px 0 0 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .navbar-nav .nav-item .home::before {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  .navbar-nav .nav-item .service::after {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  .navbar-nav .nav-item .photos::after {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  .navbar-nav .nav-item .contact::after {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  .navbar-nav .nav-item .data::after {
    transition: all 0.5s;
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    margin: auto;
    background: transparent;
    content: "";
    height: 0px;
  }
  .card img {
    width: 33%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .card {
    background-color: azure;
    border-radius: 4%;
    width: 45vw;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .g-item {
    z-index: +1;
    width: 45vh;
    margin: 25px auto 0;
  }
  .gallery-part button {
    background-color: transparent;
    width: 135px;
    height: 40px;
    margin: 25px auto 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 10px;
    text-align: right;
  }
  .banner-section .banner-text {
    position: absolute;
    top: 170px;
    left: 60px;
  }
  .banner-section .banner-text h1 {
    font-size: 40px;
    display: block;
    color: #fff;
    -webkit-text-stroke-width: 1px;
  }
  .banner-section .banner-text h4 {
    color: yellow;
    font-size: 14px;
    margin-left: 0;
    margin-top: 0;
  }
  .fancybox-bg,
  .fancybox-inner,
  .fancybox-outer,
  .fancybox-stage {
    width: 96vw;
  }
  .sticky-top {
    position: -webkit-sticky;
    position: relative;
    top: 0;
    z-index: 1020;
  }
}
